.logo{
    height: auto;
    width: 50px;
}


.header, .main-topic, .random-information{
    margin: 10px 170px;
    display: flex;
}


.main-content{
    margin-right: 50px;
    min-width: 300px;
}

.main-topic img{
    border: white 2px double;  
}

.main-topic figure{
margin: 20px 0px 30px 0;
}

.top{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf8;
    align-self: center;
}


.header-links{
    margin-left: auto;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
    display: inline;
    margin: 10px;
}

.lower-container figure img{
    width: 220px;
    height: 200px;
    object-fit: cover;
    
}

.random-information figure{
    border: black solid 1px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #1f2937;
    border-radius: 10px;
    color:#f9faf8;
    text-align: center;  
    margin: 0;  
}

.random-information{
    padding: 0;
    gap: 10px;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
}

.random-info-title{
    text-align: center;
    text-decoration: underline;
}

.quote-container{
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
    width: 100%;

}

.container-text{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.quote-container strong{
    font-size: 32px;
    font-weight: bold;
    color: #1f2937;
    align-self: flex-end;
    margin-top: 10px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.mini-box{
    justify-content: center;
    flex: 1;
    background-color: #3882f6;
    border-radius: 5px;
    width: 40%;
    min-width: 400px;
    padding: 10px;
    color: #e5e7eb;
    height: 30px;
}

.subscribe-box{
    margin: 10px 90px;
}

.mini-box h3, .mini-box p, .mini-box button{
    margin: 4px;
    font-size: 15px;
}

.ending{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lower-container{
    width: 100%;
}

footer{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 10px;
}


@media (max-width: 500px){
    .main-topic{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding: 0;
    }
    .main-topic .main-content{
        margin-right: 0;
        padding: 0;
    }


   
}






