body::after{
    display: none;
    content: url("./Images/Fischl_reduced.gif"), url("./Images/Baal_reduced.gif"), url("./Images/Hu_tao-reduced.gif");
}

#hidden{
    position: absolute;
    z-index: -100;
    display: hidden;
    visibility: none;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.credit-container li{
    display: block;
    word-wrap: break-word;
}

.credit-container{
    margin-top: 0px;
    border-radius: 10px;
    color: #e5e7eb;
    background: #1f2937;
    border: black solid;
    height: auto;
    position: absolute;
    max-width: 300px;
    visibility: hidden;
    z-index: 2;
}

.logo-container div{
    margin-top: 40px;
}

.logo{
    padding-top: 10px;
    height: auto;
    width: 30px;
    z-index: 1;
}

.logo-container:hover .logo{
    animation-name: shake;
    animation-duration: 1s;
}

@keyframes shake{
    5%{
        transform: rotateZ(10deg);
    }
    20%{
        transform: rotateZ(-10deg);
    }
    35%{
        transform: rotateZ(10deg);
    }
    50%{
        transform: rotateZ(10deg);
    }

    60%{
        transform: rotateZ(0deg);
    }

}

.logo-container:hover .source-cont{
    visibility: visible;
    animation-name: appear-in;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.logo-container:not(:hover) .source-cont{
    animation-name: disappear-out;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    visibility: hidden;
    transition-property: visibility;
    transition-delay: 0.05s;
}


@keyframes appear-in{
    0%{
        left: -90px;
    }
    100%{
        left: 20px;
    }
}

@keyframes disappear-out{
    0%{
        left: 20px;
    }
    100%{
        left: -90px;
        opacity: 0.3;
    }
}

.source-cont{
    position: relative;
    left: -90px;
    bottom: 20px;
    height: auto;
    padding: 5px;
    background-color:#1f2937;
    border: white solid 1px;
    border-radius: 5px;
    visibility: hidden;
}

.source-cont:hover{

    background-color: grey;
    color: black;
}

.source-cont:active{
    visibility: hidden;
}

.source-cont:hover .credit-container, .credit-container:hover{
    visibility: visible;
}


.top{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
    padding: 0 10px;
}


.header-links a:hover{
    color: black;
    background-color: white;
    opacity: 0.2;
    transition: ease-in;
}

.header, .main-topic, .random-information{
    margin: 10px 170px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.header{
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
}

.main-content{
    margin-right: 50px;
}

.main-topic{
    padding: 20px 20px;
    border-radius: 5px;
    border: black solid 2px;
}

.main-content h1{
    margin-bottom: 0;
  
}

.main-content button{
    background-color: #3882f6;
    border-color: #3882f6;
    height: 27px;
}

.main-topic img{
    border: white 2px double;  
}

.main-topic figure{
margin: 20px 0px 30px 30px;
position: relative;
top: 100px;
opacity: 0;
z-index: 1;
animation-name: appear;
animation-duration: 1s;
animation-fill-mode: forwards;
animation-timing-function: linear;
animation-delay: 1.5s;

}

@keyframes appear{
    0%{
        opacity: 0;
        top: 100px;
        filter: blur(10px);
    }

    50%{
        opacity: .5;
        top: 50px;
        filter: none;
    }

    100%{
        opacity: 1;
        top: 0px;
    }
}

.quote-end{
    border-top: black 10px solid;
    background-image: url(./Images/genshin-env.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 30px;
}


.random-information-upper{
    padding-bottom: 100px;
    padding-top: 50px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.environment-bg-low{
    background-image: url(./Images/environment.jpg); 
    padding-bottom: 100px;
    padding-top: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}


.random-information{
    padding: 0;
    gap: 20px;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
    align-items: center;
}


.hutao-bg{
    background-image: url("./Images/Hu_tao-reduced.gif");
    animation: top-transition 2s, top-transition-end 3s ease-in 5s;
    background-position: center;
}

.frishcl-bg{
    background-image: url("./Images/Fischl_reduced.gif");
    animation: top-transition 2s, top-transition-end 2s ease-in 17s;
    background-position: center;
}

.hutao-red-bg{
    background-image: url(./Images/Hutao-low.jpg) !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.frishl-light-bg{
    background-image: url(./Images/Fischl.full.3375955.jpg) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

.baal-bg{
    background-image: url("./Images/Baal_reduced.gif");
    animation: top-transition 2s, top-transition-end 3s ease-in 8s;
    background-position: center;
}

.violet-baal-bg{
    background-image: url(./Images/raiden.jpg) !important;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

button:disabled{
    background-color: #1f2937;
    cursor: not-allowed;
    border-color: black;
}

@keyframes top-transition{
    0%{
        background-position: -1000px;
    }
    100%{
        background-position: center;
    }
}

@keyframes top-transition-end{
    0%{
        background-position: center;
    }
    100%{
        background-position: 10000px;
    }
}


.black-bg{
    background-color: #1f2937;
    opacity: 0.9;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
    display: inline;
    margin: 10px;
}

.lower-container figure img{
    max-width: 220px;
    height: 200px;
    object-fit: cover;
    min-width: 50px;
}

.lower-container{
    width: 100%;
}

.random-information figure{
    border: black solid 1px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #1f2937;
    border-radius: 10px;
    color:#f9faf8;
    text-align: center;  
    margin: 0; 
   
}

.random-information figure:hover{
    animation-name: bounces;
    animation-timing-function: linear;
    animation-duration: 1s;    
}

@keyframes bounces{
  0%{
    transform: translateY(0%);
  }

  10%{
    transform: translateY(-8%);
  }

  25%{
    transform: translateY(0%);
  }

  40%{
    transform: translateY(-4%);
  }

  60%{
    transform: translateY(0%);
  }

  70%{
    transform: translateY(-2%);
  }

  80%{
    transform: translateY(0%);
  }

}

figcaption{
    font-size: 1rem;
}


.quote-container{
    visibility: hidden;
    font-size: 25px;
    font-style: italic;
    color: black;  
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    box-shadow: inset 0 0 0 0 #5c5d61;
    transition: linear 0.2s;
   
}

.container-text{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    padding: 0 30px;
}

.quote-container strong{
    font-size: 32px;
    font-weight: bold;
    color: inherit;
    align-self: flex-end;
    margin-top: 10px;
    
}

.quote-container-switch{
    visibility: visible;
    background-color: black;
    color: white;
}


.mini-box{
    justify-content: center;
    flex: 1;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 10px;
    color: #e5e7eb;
    align-items: center;
}

.subscribe-box{
    margin: 10px 50px;
}

.mini-box h3, .mini-box p, .mini-box button{
    margin: 4px;
    font-size: 15px;
    
}

.mini-box button{
    background-color: red;
    color: white;
    font-weight: 600;
    margin: unset;
    align-self: center;
    justify-content: center;
}

.mini-box a{
    align-items: center;
}

.ending{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}


footer{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 10px;
}


.main-topic .main-content{
    margin-right: 0;
    padding: 0;
}


@media (max-width: 540px){

    .credit-container{
        opacity: 0.7;
    }

    .source-cont{
        max-width: 40px;
        font-size: 12px;
    }

    .main-topic figure{
        margin-top: 10px;
        margin-left: 0;
        margin-right: 0;
        
    }

    .mini-box button{
        width: 90px;
        font-size: 10px;
    }

    
    .main-topic{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding: 0;
        border: none;
    }

    .header-links{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;  
        padding: 10px;
        margin-left: auto;
    }

    li{
        font-size: 10px;
    }
   
}

@media (max-width: 280px) {
    .main-topic{
        font-size: 8px;
        min-width: auto;
        width: 100%;
    }

    .mini-box button{
        width: 50px;
        font-size: 5px;
    }

    .main-content{
        width: 280px;
        min-width: auto;
    }

    .main-topic img{
        width: 50%;
    }
}


html, body{
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

}






