.logo{
    position: relative;
    height: auto;
    width: 30px;
    z-index: 1;
}

.logo-container:hover .logo{
    animation-name: shake;
    animation-duration: 1s;
}

@keyframes shake{
    5%{
        transform: rotateZ(10deg);
    }
    20%{
        transform: rotateZ(-10deg);
    }
    35%{
        transform: rotateZ(10deg);
    }
    50%{
        transform: rotateZ(10deg);
    }

    60%{
        transform: rotateZ(0deg);
    }

}

.logo-container:hover .source-cont{
    visibility: visible;
    animation-name: appear-in;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.logo-container:not(:hover) .source-cont{
    animation-name: disappear-out;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    visibility: hidden;
    transition-property: visibility;
    transition-delay: 0.05s;
}


@keyframes appear-in{
    0%{
        left: -90px;
    }
    100%{
        left: 20px;
    }
}

@keyframes disappear-out{
    0%{
        left: 20px;
    }
    100%{
        left: -90px;
        opacity: 0.3;
    }
}

.source-cont{
    position: relative;
    left: -90px;
    bottom: 20px;
    height: auto;
    padding: 5px;
    background-color:#1f2937;
    border: white solid 1px;
    border-radius: 5px;
    display: inline-block;
    visibility: hidden;
}

.source-cont:hover{
    background-color: white;
    opacity: 0.3;
    color: black;
}

.top{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f9faf8;
    align-self: center;
}


.logo-container p{
    display: inline;
    position: relative;
    left: -50px;
    top: -30px;
    z-index: 0;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: inherit;
    padding: 0 10px;
}


.header-links a:hover{
    color: black;
    background-color: white;
    opacity: 0.2;
    transition: ease-in;
}

.header, .main-topic, .random-information{
    margin: 10px 170px;
    display: flex;
}


.main-content{
    margin-right: 50px;
    min-width: 330px;
   
}

.main-topic{
    padding: 20px 20px;
    border-radius: 5px;
    border: black solid 2px;
    position: static;
}

.main-content h1{
    margin-bottom: 0;
  
}

.main-content button{
    background-color: #3882f6;
    border-color: #3882f6;
    height: 27px;
}

.main-topic img{
    border: white 2px double;  
}

.main-topic figure{
margin: 20px 0px 30px 0;
position: relative;
top: 100px;
opacity: 0;
z-index: 1;
animation-name: appear;
animation-duration: 1s;
animation-fill-mode: forwards;
animation-timing-function: linear;
animation-delay: 1.5s;

}

@keyframes appear{
    0%{
        opacity: 0;
        top: 100px;
        filter: blur(10px);
    }

    50%{
        opacity: .5;
        top: 50px;
        filter: none;
    }

    100%{
        opacity: 1;
        top: 0px;
    }
}

.random-information-upper{
    padding-bottom: 100px;
    padding-top: 50px;
}

.environment-bg-low{
    background-image: url(./Images/environment.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
}


.random-information{
    padding: 0;
    gap: 20px;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
    align-items: center;
}


.lower-container{
    width: 100%;
}

.hutao-bg{
    background-image: url("./Images/Hu_tao-reduced.gif");
    animation: top-transition 2s, top-transition-end 3s ease-in 5s;
    background-position: center;
}

.frishcl-bg{
    background-image: url("./Images/Fischl_reduced.gif");
    animation: top-transition 2s, top-transition-end 2s ease-in 17s;
    background-position: center;
}

.hutao-red-bg{
    background-image: url(./Images/Hutao-low.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.frishl-light-bg{
    background-image: url(./Images/Fischl.full.3375955.jpg) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.baal-bg{
    background-image: url("./Images/Baal_reduced.gif");
    animation: top-transition 2s, top-transition-end 3s ease-in 8s;
    background-position: center;
}

.violet-baal-bg{
    background-image: url(./Images/raiden.jpg) !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

button:disabled{
    background-color: #1f2937;
    cursor: not-allowed;
    border-color: black;
}

@keyframes top-transition{
    0%{
        background-position: -1000px;
    }
    100%{
        background-position: center;
    }
}

@keyframes top-transition-end{
    0%{
        background-position: center;
    }
    100%{
        background-position: 10000px;
    }
}


.black-bg{
    background-color: #1f2937;
    opacity: 0.9;
}

.header-links{
    margin-left: auto;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
    display: inline;
    margin: 10px;
}

.lower-container figure img{
    width: 220px;
    height: 200px;
    object-fit: cover;
    
}

.random-information figure{
    border: black solid 1px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #1f2937;
    border-radius: 10px;
    color:#f9faf8;
    text-align: center;  
    margin: 0; 
   
}

.random-information figure:hover{
    animation-name: bounces;
    animation-timing-function: linear;
    animation-duration: 1s;    
}

@keyframes bounces{
  0%{
    transform: translateY(0%);
  }

  10%{
    transform: translateY(-8%);
  }

  25%{
    transform: translateY(0%);
  }

  40%{
    transform: translateY(-4%);
  }

  60%{
    transform: translateY(0%);
  }

  70%{
    transform: translateY(-2%);
  }

  80%{
    transform: translateY(0%);
  }

}



.random-info-title{
    text-align: center;
    text-decoration: underline;
}

.quote-container{
    background-color: black;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    box-shadow: inset 0 0 0 0 #e5e7eb;
    transition: linear 0.1s;
    
}

.quote-container{
    box-shadow: inset 100vw 0 0 0 #e5e7eb;
}


.container-text{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.quote-container strong{
    font-size: 32px;
    font-weight: bold;
    color: #1f2937;
    align-self: flex-end;
    margin-top: 10px;
}

.quote-container-switch{
    background-color: black;
    color: white;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.mini-box{
    justify-content: center;
    flex: 1;
    background-color: #3882f6;
    border-radius: 5px;
    width: 40%;
    min-width: 400px;
    padding: 10px;
    color: #e5e7eb;
    height: 30px;
}

.subscribe-box{
    margin: 10px 50px;
}

.mini-box h3, .mini-box p, .mini-box button{
    margin: 4px;
    font-size: 15px;
}

.mini-box button{
    background-color: red;
    color: white;
    font-weight: 700;
}

.ending{
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 10px;
}


@media (max-width: 500px){


    .logo-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-topic{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding: 0;
    }

    .header-links{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;  
        padding: 10px;
    }

    .main-topic .main-content{
        margin-right: 0;
        padding: 0;
    }


   
}






